*{
  padding: 0px;
  margin: 0px;
}

.HeaderPro13{
  
  margin: 0px;
  /* height: 40vh;
  width: 100%; */

  /* min-height: 300px;
  min-width: 100%; */
}
.HeaderPro13 img{

  width: 100%;
  height: auto;
  
}


.MainPro13{
margin: 30px;
margin-top: 5px;
/* display: flex;
flex-wrap: wrap; */
}

.Main2Pro13{
  margin: 30px;
  /* padding: 20px; */
  position: relative;
  top:5px;
  }

.Main3Pro13{
    margin: 30px;
    position: relative;
    /* padding: 20px;  */
    top:5px;
    }

.MainPro13 p{
  position: relative;
  top:5px
  }

.MainPro13 img{
  float: right;
  margin:10px;
  max-width: 100%;
  /* padding: 20px; */
  padding-left: 10px;
  margin-bottom: 5px;

  /* display: ; */
  /* height: 400px;
  width: 600px; */
}

.Main2Pro13 p{
  position: relative;
  top:5px;
  /* padding: 20px; */
  }

.Main2Pro13 img{
  float: left;
  margin: 10px;
  max-width: 100%;
  padding-right: 10px;
  margin-bottom: 5px;

  /* display: ; */
  /* height: 400px;
  width: 600px; */
}


.Main3Pro13 p{
  position: relative;
  top:5px
  
  }

.Main3Pro13 img{
  float: right;
  margin: 10px;
  max-width: 100%;
  padding-left: 10px;
  margin-bottom: 5px;
  /* display: ; */
  /* height: 400px;
  width: 600px; */
}


p{
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5rem;
}