

.Actions{
    /* background-color: #f6f6f6; */
    /* background-image: -webkit-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,0) 50%,
                      hsla(0,0%,0%,.015) 50%, hsla(0,0%,0%,.015) 100%),
                      -webkit-radial-gradient(hsla(0,0%,0%,.05) 10%, transparent 15%);
    background-size: 1.5em 1.5em, .5em .5em; */
    font-family: sans-serif;
    font-size: 100%;
    /* margin-bottom: 10px; */
    padding: 1.5em;
    width: 100%;
    /* border: solid 2px yellow; */
    /* display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
	 */
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
flex-wrap: wrap;
    
}

@media only screen and (max-width: 480px)  {

	.Actions{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}

	.Actions img{
		height: 50px;
		width: 50px;
	}
	
}


.Actions img{
    width: 150px;
    height: 150px;

}

.hover01 figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover01 figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

/* Flashing */
.hover13 figure:hover img {
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}


/* Smoky Strip */

.SmokyStrip{
	height: 70px;
	width: 100%;
	/* border: 2px solid yellow; */
	margin-top: 10px;
	margin-bottom: 10px;
	background-image: url(../../Images/strip.jpeg);
}
.SmokyStrip2{
	height: 70px;
	width: 100%;
	/* border: 2px solid yellow; */
	/* margin-top: 10px; */
	margin-bottom: 30px;
	background-image: url(../../Images/strip.jpeg);
}