.Memo__main{
    padding: 20px;
}
.Memo__info{
    display: flex;
    justify-content: center;
    margin-top: 10px;

}
.Memo__main {
    margin-top: 2rem;
}

.Memo__shadow {
    box-shadow: 0px 1px 10px;
    width: 90vw;
    margin: auto;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}

.Memo__heading {
    color: #5384a5;
}

.Memo__head {
    display: flex;
    align-items: center;
    width: 90vw;
    margin: auto;
    padding: 0px 5px;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    background: linear-gradient(90deg, #5384a5 10%, #45a3b8 100%);
    ;
}

.Memo__logo {
    padding-right: 5px;
}

.Memo__form__heading {
    font-weight: 600;
    color: #fff;
    font-size: x-large
}

.Memo__form {
    margin: 1rem;
}

.Memo__form2 {
    width: 70vw;
    align-items: flex-end;
    margin: auto;
    padding-bottom: 1rem;
}

.btn {
    align-items: center !important;
}
.Memo__info{
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}
.Memo__model{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
}
.Memo__modelForm{
    display: flex;
    flex-direction: row;
}