.MainOrgani{
    width: 100vw;
    height: 170vh;
    background-image: url("../../Images/newOC.jpeg");
    background-size: cover;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.parent{
    display: flex;
    justify-content: center;
    align-items: center;

}
@media only screen and (max-width: 600px) {
    .MainOrgani {
        width: 500vw;
        height: 60vh;
        background-image: url("../../Images/newOC.jpeg");
        background-size: cover;
        overflow: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
  }
