
.navfbar {
    font-size: 18px;
    background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
  }
  
  .main-navf {
    list-style-type: none;
    display: none;
  }
  
  .navf-links,
  .logo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
  }
  
  .main-navf li {
    text-align: center;
    margin: 15px auto;
  }
  
  .logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
  }
  
  .navfbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
  }
  
  #chkToggle {
    display: none;
  }
  
  #chkToggle:checked + ul.main-navf {
    display: block;
  }
  
  @media screen and (min-width: 768px) {
    .navfbar {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0;
      height: 70px;
      align-items: center;
    }
  
    #chkToggle:checked + ul.main-navf {
      display: flex;
    }
  
    .main-navf {
      display: flex;
      margin-right: 30px;
      flex-direction: row;
      justify-content: flex-end;
    }
  
    .main-navf li {
      margin: 0;
    }
  
    .navf-links {
      margin-left: 40px;
    }
  
    .logo {
      margin-top: 0;
    }
  
    .navfbar-toggle {
      display: none;
    }
  
    .logo:hover,
    .navf-links:hover {
      color: rgba(255, 255, 255, 1);
    }
  }